<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Search</title>
  </head>

  <body>
    <div id="root">
      <!--HTML_PLACEHOLDER-->
    </div>
    <!--INITIAL_DATA_PLACEHOLDER-->


    <!-- <script defer="defer"
            src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script defer="defer"
            src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script> -->
  </body>

</html>